@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-bold {
  filter: drop-shadow(0 0 0.25rem currentcolor);
}

.blur-link {
  filter: drop-shadow(0 0 0.25rem currentcolor);
  color: #bbf;
  text-decoration: underline;
}
